body {
    font-family: "liebling", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    font-weight: 900;
}

h2 {
    color: #666;
    font-weight: 700;
}

ul {
    padding-right: 20px;
}

body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

body.dark-mode h2 {
    color: #ddd;
}

#darkModeToggle {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #f4f4f4;
    border: none;
    cursor: pointer;
}

body.dark-mode #darkModeToggle {
    background-color: #666;
    color: #f4f4f4;
}